################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Temp/UnityLockfile
/Temp
/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.2
/Library/PackageCache/com.unity.burst@1.7.3
